@font-face{
    font-family: NunitoSansRegular;
    font-weight: normal;
    font-style: normal;
    src: url("../../assets/font/NunitoSans-Regular.ttf");
}

@font-face{
    font-family: NunitoSansBold;
    font-weight: normal;
    font-style: normal;
    src: url("../../assets/font/NunitoSans-Bold.ttf");
}

@font-face{
    font-family: NunitoSansLight;
    font-weight: normal;
    font-style: normal;
    src: url("../../assets/font/NunitoSans-Light.ttf");
}

@font-face{
    font-family: NunitoSansSemiBold;
    font-weight: normal;
    font-style: normal;
    src: url("../../assets/font/NunitoSans-SemiBold.ttf");
}