.coco-layout_wrap {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: #f3f3f3;

  .coco-layout-wrap-home_header {
    background: #000000;
  }
  .coco-layout-wrap_content {
    max-width: 1648px;
    margin: 0 auto;
    // background: #f3f3f3;
  }

  .layout_overflow {
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    opacity: 0.4;
  }
  .coco-layout-wrap_scrollbox {
    .coco-layout-wrap-scrollbox_lstIconWrapper {
      display: flex;
      flex-direction: column;
      position: fixed;
      z-index: 5;
      padding: 16px 12px;
      top: 50%;
      right: 4%;
      background: #ffffff;
      box-shadow: 0px 3px 6px #00000029;
      -moz-box-shadow: 0px 3px 6px #00000029;
      -webkit-box-shadow: 0px 3px 6px #00000029;
      border-radius: 24px;
      > img {
        margin-top: 16px;
        &:nth-last-child(4) {
          margin-top: 0;
        }
      }
    }
    .coco-layout-wrap-scrollbox_scrolltop {
      display: flex;
      align-items: center;
      position: fixed;
      z-index: 5;
      margin-top: 16px;
      // padding: 16px 20px;
      // background: #ffffff;
      top: 70%;
      right: 4%;
      box-shadow: 0px 3px 6px #00000029;
      -moz-box-shadow: 0px 3px 6px #00000029;
      -webkit-box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      transition: all ease 1s;
    
    }
  }

  .coco-layout-wrap-scrollbox_chatbox {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    z-index: 5;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #000000;
    border-radius: 5px 5px 0px 0px;
    > div {
      display: flex;
      align-items: center;
      > span {
        font-family: NunitoSansRegular;
        font-size: 16px;
        line-height: 21px;
        color: #ffffff;
        white-space: nowrap;
        padding-right: 11px;
      }
      > img {
      }
    }
    > img {
    }
  }
  .hiddenChatBox {
    // visibility: hidden;
    display: none;
    transition: 0.3s;
  }
}
.layout_overflow {
  background: #000000;
}
