.searchBox {
  display: flex;
  align-items: center;
  position: relative;
  .sb__input {
    // border: 1px solid #c6cfdb;
    color: #000;
    outline: none;
    height: 100%;
    width: 100%;
  }
  .sb__icon {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 48px;
    background: #e5e4e4;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 3px 3px #0000001a;
    border-radius: 5px;
    > img {
    }
  }
}
