.list-brand-wrap {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  -moz-box-shadow: 0px 3px 6px #00000029;
  -webkit-box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  .list-brand-header {
    padding: 24px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      z-index: 2;
      width: 20%;
      border-bottom: 4px solid #c73030;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      border-bottom: 4px solid #e4e4e4;
    }
    .brand--header_left {
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      .header_left__title {
        font-family: NunitoSansBold;
        font-size: 24px;
        line-height: 33px;
        color: #000000;
      }
    }
    .brand--header_right {
      > span {
        cursor: pointer;
        font-family: NunitoSansRegular;
        font-size: 16px;
        line-height: 21px;
        color: #c73030;
        text-transform: uppercase;
      }
    }
  }
  .list-brand-slider {
    .slick-next {
      display: inline-block;
      padding: 6px;
      right: -8px;
      background: #fff;
      color: #fff;
      box-shadow: 0px 3px 6px #00000029;
      -moz-box-shadow: 0px 3px 6px #00000029;
      -webkit-box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      &:before {
        display: none !important;
      }
    }
    .slick-prev {
      &:before {
        display: none !important;
      }
    }
    .list-brand-product {
      margin-top: 32px;
      > img {
        width: 100%;
        border-radius: 5px 5px 0px 0px;
      }
      .list-brand-product--label {
        padding: 17px 0;
        text-align: center;
        > span {
          font-family: NunitoSansBold;
          font-size: 20px;
          line-height: 27px;
          color: #000000;
        }
      }
    }
    .slick-list {
      .slick-track {
        .slick-slide {
          width: 249px !important;
          padding: 0 13px;
        }
      }
    }
  }
}
