.coco-selectbox-wrap {
    .form-control {
        // width: unset;
        height: unset;
    }
}

.ccs-selectbox {
    > select {
        width: 100%;
        border: 1px solid #bebebe;
        padding: 15px 24px;
    }
}
