.ccs-input-cpn {
    > input {
        width: 100%;
        height: 100%;
        font-family: NunitoSansRegular;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid #707070;
        color: #000;
        outline: 0;
        border-radius: 0;
        min-height: 40px;
        padding: 0 24px;
        border-radius: 5px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus {
            // border: 1px solid #707070;
            outline: none;
            border-color: #40a9ff;
            border-right-width: 0.5px !important;
            -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        }
    }
}
