/*------begin: Type Item 1&3 ------*/
.ccs-item-wrap {
    position: relative;
    width: 264px !important;
    padding: 8px 16px 16px 16px;
    > img {
        width: 100%;
        min-height: 264px;
    }
    .ccs-item-label {
        position: absolute;
        // top: 0;
        // left: 0;
    }
    .ccs-item-discount {
        position: absolute;
        background: url('/Images/ic-discount.svg') center no-repeat;
        display: inline-block;
        padding: 12px;
        top: 10px;
        right: 0;
        // box-shadow: 0px 3px 6px #00000029;
        // -moz-box-shadow: 0px 3px 6px #00000029;
        // -webkit-box-shadow: 0px 3px 6px #00000029;
        > span {
            font-family: NunitoSansRegular;
            font-size: 16px;
            line-height: 21px;
            color: #ffffff;
        }
    }
    .ccs-item-title {
        font-family: NunitoSansRegular;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        text-align: left;
        margin-top: 8px;
    }
    .ccs-item-price {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 8px;
        > span {
            &:nth-last-child(1) {
                font-family: NunitoSansRegular;
                font-size: 18px;
                line-height: 24px;
                text-decoration: line-through;
                color: #000000;
            }
            &:nth-last-child(2) {
                font-family: NunitoSansBold;
                font-size: 24px;
                line-height: 32px;
                color: #c73030;
                padding-right: 7px;
            }
        }
    }
    .ccs-item-countdown {
        // width: 100%;
        position: relative;
        margin-top: 13px;
        padding: 2px 0;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        background: #cfcfcf;
        overflow: hidden;
        .ccs-item--countdownbar {
            content: '';
            position: absolute;
            padding: 2px 0;
            height: 20px;
            top: 0;
            left: 0;
            background-color: #c73030;
            border-radius: 10px 0px 0px 10px;
        }
        > span {
            font-family: NunitoSansRegular;
            font-size: 12px;
            line-height: 16px;
            color: #ffffff;
            z-index: 2;
        }
    }
}
.ccs-item-wrap:hover > div {
    opacity: 0.5;
    z-index: -1;
    visibility: hidden;
}
.ccs-item-wrap:hover > img {
    opacity: 0.5;
    // z-index: -1;
    // visibility: hidden;
}

.ccs-item-wrap-active {
    position: relative;
    &:hover > .ccs-item-label {
        opacity: 1;
        z-index: 3;
        visibility: visible;
    }
    &:hover > .ccs-item-discount {
        opacity: 1;
        z-index: 3;
        visibility: visible;
    }
    &:hover > .ccs-item-hovered {
        //   width: 100%;
        opacity: 1;
        z-index: 3;
        visibility: visible;
        &:before {
            // content: "";
            // background: url("/Images/product3.jpg") center no-repeat;
            // background-size: cover;
            // opacity: 0.7;
            // top: 0;
            // left: 0;
            // bottom: 0;
            // right: 0;
            // position: absolute;
            // z-index: -1;
        }
    }
    .ccs-item-hovered {
        //   width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        // padding: 8px 0;
        padding: 8px 16px 16px 16px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all ease 0.2s;
        background: transparent;
        .item-hovered-title {
            font-family: NunitoSansRegular;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
        .item-hovered--button {
            margin-top: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
/*------end: Type Item 1&3 ------*/

/*------begin: Type Item 2 ------*/
.ccs-item-brand {
    width: 253px !important;
    margin-top: 32px;
    > img {
        width: 100%;
        border-radius: 5px 5px 0px 0px;
    }
    .ccs-item-brand--label {
        padding: 15px 0;
        text-align: center;
        > span {
            font-family: NunitoSansBold;
            font-size: 20px;
            line-height: 27px;
            color: #000000;
        }
    }
}
/*------end: Type Item 2 ------*/

/*------begin: Type Item 4 ------*/
.ccs-item-article {
    width: 23%;
    position: relative;
    &::before {
        position: absolute;
        z-index: 0;
        opacity: 0.3;
        content: '';
        background: #000;
        width: 100%;
        height: 100%;
    }

    .ccs-item-background {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: #ffffff;
        min-height: 600px;
        padding: 0px 24px;
        background: url('/Images/article1.jpg') center no-repeat;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        > div {
            padding: 16px 0px;
            z-index: 5;
            .item-background--title {
                font-family: NunitoSansSemiBold;
                font-size: 21px;
                line-height: 30px;
                color: #ffffff;
                text-transform: uppercase;
            }
            .item-background--description {
                margin-top: 8px;
                font-family: NunitoSansRegular;
                font-size: 16px;
                line-height: 21px;
                color: #ffffff;
            }
        }
    }
}
/*------end: Type Item 4 ------*/

/*------begin: Type Item 5 ------*/
.ccs-item-store {
    display: flex;
    flex-direction: column;
    align-items: center;
    .ccs-item-img {
        width: 18rem;
        height: 18rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f3f3f3;
        border-radius: 50%;
        border: 3px solid #000000;
        > img {
            display: inline-block;
            width: 16rem;
            height: 16rem;
            border-radius: 50%;
            border: 3px solid #000000;
        }
    }
    .ccs-item-text {
        display: flex;
        flex-direction: column;
        > span {
            text-align: center;
            &:nth-last-child(1) {
                margin-top: 7px;
                font-family: NunitoSansRegular;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
            }
            &:nth-last-child(2) {
                margin-top: 24px;
                font-family: NunitoSansBold;
                font-size: 18px;
                line-height: 25px;
                color: #000000;
                text-transform: uppercase;
            }
        }
    }
}
/*------end: Type Item 5 ------*/

/*------begin: Type Item 6 ------*/
.ccs-cart-product {
    width: 100%;
    display: flex;
    .ccs-cart-thumb {
        max-width: 112px;
        min-width: 112px;
        > img {
            width: 100%;
        }
    }
    .ccs-cart-detail {
        padding: 0 16px;
        .cart-detail--title {
            margin-top: 8px;
            font-family: NunitoSansBold;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
        .cart-detail--subtitle {
            padding-bottom: 16px;
            font-family: NunitoSansSemiBold;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
        > span {
            font-family: NunitoSansRegular;
            font-size: 16px;
            line-height: 24px;
            color: #c73030;
        }
    }
}
/*------end: Type Item 6 ------*/

/*------begin: Type Item 7 ------*/
.ccs-cart-item-order {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .ccs-cart-thumb {
        max-width: 128px;
        min-width: 128px;
        > img {
            width: 100%;
        }
    }
    .ccs-cart-detail {
        width: 48%;
        padding: 0 16px;
        color: #000000;
        font-family: NunitoSansSemiBold;
        font-size: 16px;
        line-height: 24px;
        .cart-detail--title {
            margin-top: 8px;
        }
        .cart-detail--subtitle {
            padding-bottom: 8px;
        }
        > span {
        }
    }
    .ccs-cart-price {
        font-family: NunitoSansSemiBold;
        font-size: 21px;
        line-height: 28px;
        color: #c73030;
        white-space: nowrap;
    }
}
/*------end: Type Item 7 ------*/
