.coco-breadcrumb-wrap {
    display: flex;
    align-items: center;
    a {
      padding: 0 27px 0 0;
      position: relative;
      font-family: NunitoSansRegular;
      color: #454545;
      font-size: 16px;
      line-height: 21px;
      text-decoration: none;
      &::before {
        content: "";
        background: url("/Images/ic-breadcrumb.svg") center no-repeat;
        // transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: 3px;
        width: 12px;
        height: 8px;
      }
      &:nth-last-child(1) {
        &::before {
          content: none;
        }
      }
      &::not(:nth-child(1)) {
        line-height: 17px;
      }
    }
    .coco-breadcrumb-home {
      &::before {
        top: 5px;
      }
      img{
        width: 18px;
        height: 16px;
      }
    }
  }
  
  
  